.boton {
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: center;
    /* color: aliceblue; */
}

.boton_tit {
    font-size: large;
    margin-bottom: 1rem;
}

.botones {
    background-color: white;
    gap: 1rem;
    margin-bottom: 1rem;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    width: 10rem;
    max-width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.botones.select {
    background-color: #27885798;
}