.input {
    padding: 0.5rem;
    margin: 1rem 0;
    text-align: center;
    color: aliceblue;
}

.input_tit {
    font-size: large;
    margin-bottom: 1rem;
}

.input_numero {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    width: 10rem;
    max-width: 100%;
}